<div class="sticky-top ">
  <app-navbar [menus]="false"></app-navbar>
</div>

<div class="container">
  <div class="col-md-10 mx-auto col-lg-5 pt-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light" [formGroup]="loginForm">

      <h1 class="h3 mb-3 fw-normal">Bem vindo!</h1>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="name@example.com">
        <label for="floatingInput">Usuário</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" (click)="login()">Entrar</button>
      <hr class="my-4">

      <small class="text-muted">Não tem uma conta? </small>
      <a routerLink="/cadastro">Criar nova conta!</a>
      <br>
      
    </form>
  </div>

</div>
