<app-navbar></app-navbar>


<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="mt-2">Usuários</h3>

      <div class="btn-group">
        <button class="btn btn-sm btn-primary">Novo usuário</button>
      </div>

      <br>

      <div class="mt-2">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#24554</td>
                <td>FULANO DE TAL SICLANO DE TAL</td>
                <td>000.000.000-00</td>
                <td>Nova Veneza-SC</td>
                <td>(48)00000-0000</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-primary">Editar</button>
                    <button class="btn btn-sm btn-outline-primary">Excluír</button>
                    <button class="btn btn-sm btn-outline-primary">Detalhes</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
