<app-navbar [titlePage]="'Desafio'"></app-navbar>


<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="mt-2">Usuários</h3>

      <div class="btn-group">
        <button class="btn btn-sm btn-primary" (click)="new()">Novo usuário</button>
      </div>

      <br>

      <div class="mt-2">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of users">
                <td>#{{u.id}}</td>
                <td>{{u.nome}}</td>
                <td>{{u.cpf}}</td>
                <td>{{u.cidade || "Indisponível"}} {{u.estado}}</td>
                <td>{{u.telefone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
