<div class="sticky-top ">
  <app-navbar [menus]="false" [titlePage]="'Desafio'"></app-navbar>
</div>

<div class="container">
  <div class="row mt-2">
    <div class="col-12" >
      
      <!-- MOSTRAR NOTIFICACOES DO BACKEND -->
      <div class="row mt-2" *ngIf="erros?.length">
        <div class="alert alert-danger" role="alert">
          <h5>{{message}}</h5>
          <ul *ngFor="let e of erros">
            <li><strong>{{e.key}}</strong> - {{e.message}}</li>
          </ul>
        </div>
      </div>

      <form [formGroup]="userForm" >
        <h5>Novo usuário</h5>
        <hr>

        <!-- NOME -->
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-2" *ngIf="visible">
            <div class="form-group">
              <label for="codigo">Código</label>
              <input placeholder="Código" autocomplete="off" class="form-control" type="text" id="id" formControlName="id">
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="form-group">
              <label for="Nome">Nome</label>
              <input placeholder="Nome" autocomplete="off" class="form-control" type="text" id="nome" formControlName="nome">
            </div>
          </div>
            <!-- validacao -->
            <div class="text-danger" *ngIf="nome?.errors">
              <div *ngIf="nome?.errors?.['required'] && (nome?.dirty || nome?.touched)">Informe seu nome</div>

              <div *ngIf="nome?.errors?.['minlength'] && (nome?.dirty || nome?.touched)">
                Nome deve conter no mínimo {{nome?.errors?.['minlength'].requiredLength}} caracteres
              </div>

              <div *ngIf="nome?.errors?.['maxlength'] && (nome?.dirty || nome?.touched)">
                Nome deve conter no máximo {{nome?.errors?.['maxlength'].requiredLength}} caracteres
              </div>
            </div>

        </div>

        <!-- CPF E TELEFONE -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label for="cpf">CPF</label>
              <input placeholder="000.000.000-00" autocomplete="off" class="form-control" type="text" id="cpf" formControlName="cpf">
            </div>

            <!-- validacao -->
            <div class="text-danger" *ngIf="CPF?.errors">
              <div *ngIf="CPF?.errors?.['required'] && (CPF?.dirty || CPF?.touched)">Informe seu CPF</div>

              <div *ngIf="CPF?.errors?.['minlength'] && (CPF?.dirty || CPF?.touched)">
                CPF deve conter no mínimo {{CPF?.errors?.['minlength'].requiredLength}} caracteres
              </div>

              <div *ngIf="CPF?.errors?.['maxlength'] && (CPF?.dirty || CPF?.touched)">
                CPF deve conter no máximo {{nome?.errors?.['maxlength'].requiredLength}} caracteres
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label for="telefone">Telefone</label>
              <input placeholder="(48) 00000-0000" autocomplete="off" class="form-control" type="text" id="telefone" formControlName="telefone">
            </div>
          </div>
        </div>

        <!-- ENDERECO -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input placeholder="Av.Central" autocomplete="off" class="form-control" type="text" id="endereco" formControlName="endereco">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="form-group">
              <label for="bairro">Numero</label>
              <input placeholder="Centro" autocomplete="off" class="form-control" type="text" id="numero" formControlName="numero">
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="form-group">
              <label for="bairro">Complemento</label>
              <input placeholder="Centro" autocomplete="off" class="form-control" type="text" id="complemento" formControlName="complemento">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <label for="bairro">Bairro</label>
              <input placeholder="Centro" autocomplete="off" class="form-control" type="text" id="bairro" formControlName="bairro">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <label for="cidade">Cidade</label>
              <input autocomplete="off" class="form-control" type="text" id="cidade" formControlName="cidade">
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <label for="cidade">UF</label>
              <input autocomplete="off" class="form-control" type="text" id="estado" formControlName="estado">
            </div>
          </div>
          
          <div class="text-danger" *ngIf="uf?.errors">
            <div *ngIf="uf?.errors?.['minlength']">
              Estado deve conter no mínimo {{uf?.errors?.['minlength'].requiredLength}} caracteres
            </div>

            <div *ngIf="uf?.errors?.['maxlength']">
              Estado deve conter no máximo {{uf?.errors?.['maxlength'].requiredLength}} caracteres
            </div>
          </div>


        </div>



        <!-- SENHA -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Password">Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="senha" formControlName="senha">
            </div>
            
            <!-- validacao -->
            <div class="text-danger" *ngIf="senha?.errors">
              <div *ngIf="senha?.errors?.['required'] && (senha?.dirty || senha?.touched)">Informe seu senha</div>

              <div *ngIf="senha?.errors?.['minlength'] && (senha?.dirty || senha?.touched)">
                Senha deve conter no mínimo {{senha?.errors?.['minlength'].requiredLength}} caracteres
              </div>

              <div *ngIf="senha?.errors?.['maxlength'] && (senha?.dirty || senha?.touched)">
                Senha deve conter no máximo {{nome?.errors?.['maxlength'].requiredLength}} caracteres
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="ConfirmPassword">Confirme a Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="confirmarSenha" formControlName="confirmarSenha">
            </div>

            <!-- validacao -->
            <div class="text-danger" *ngIf="confirmarSenha?.errors">
              <div *ngIf="confirmarSenha?.errors?.['required'] && (confirmarSenha?.dirty || confirmarSenha?.touched)">Informe seu confirmarSenha</div>

              <div *ngIf="confirmarSenha?.errors?.['minlength'] && (confirmarSenha?.dirty || confirmarSenha?.touched)">
                Senha deve conter no mínimo {{confirmarSenha?.errors?.['minlength'].requiredLength}} caracteres
              </div>

              <div *ngIf="confirmarSenha?.errors?.['maxlength'] && (confirmarSenha?.dirty || confirmarSenha?.touched)">
                Senha deve conter no máximo {{nome?.errors?.['maxlength'].requiredLength}} caracteres
              </div>
            </div>
            
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="save()">Registrar</button>
            <button class="btn btn-outline-secondary">Cancelar</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
